.tag {
  font-size: 14px;
  font-weight: 500;
  background-color: #f9f9f9;
  border: 1px solid #dfe3e6;
  cursor: pointer;
  border-radius: 3px;
  padding: 4px 6px;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: aqua;
}
